.mainContainer {
  display: flex;
  height: 100vh;
}

.custom-box {
  text-align: center;
  background-color: #b7b7b7;
  padding: 15px;
}

@media (max-width: 800px) {
  .mainContainer {
    flex-direction: column;
  }

  .dataPicker-container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
  }
}

.noResult {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.noResult-title {
  font-family: cursive;
  font-size: 40px;
  font-weight: 700;
  color: #333333;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-heading {
  font-size: 48px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
}

.about-description {
  font-size: 18px;
  line-height: 1.6;
  color: #555555;
  margin-bottom: 30px;
}

.about-subheading {
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.about-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.about-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #4285f4;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 6px;
  font-size: 24px;
  font-weight: bold;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
